p4_ArcanePropagation_PointOrbit/data/imgs

p4_ArcanePropagation_PointOrbit/build

p4_ArcanePropagation_Shader/data/imgs

p4_ArcanePropagation_Shader/build

p4_ArcanePropagator/data/imgs

p4_ArcanePropagator/data/videos

p4_ArcanePropagator/build

p5_ArcanePropagator/assets/imgs

canvas_ArcanePropagator/assets/images

canvas_ArcanePropagator/node_modules

p4_ArcaneShader/data/imgs

p4_ArcaneShader/build

p4_ArcaneViewer/data/imgs

p4_ArcaneViewer/build

max8_ArcaneViewer/videos
